<% extend('./base') %>

<h1>user info</h1>
<h2 class="mt-3">user name: <%= userName %> </h2>
<h3 class="mt-5">投稿した記事一覧</h3>
<% notes.forEach(note => { %>
  <h3 class="border-top my-3 pt-3"><%= note.title %> </h3>
  <p>created by: @<%= note.createdBy %> </p>
  <form method="POST" action="/notes/delete/<%= note.id %>">
    <input type="hidden" name="id" value="<%= note.id %>">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <button type="button" class="btn btn-success" onclick="location.href='/notes/<%= note.id %>/edit'">Edit</button>
<% }); %>
